---
---

@import "{{ site.theme }}";

.page-header{
	background-color: #f2f2f2;
	background-image: none;
	padding: 2rem 6rem;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

.project-name{
	color: #da291c;
}

.btn{
	background-color: #DA291C;
	 color: rgba(255,255,255,0.85);
}

.btn:hover{
	background-color: #DA291C;
	 color: rgba(255,255,255,0.95);
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5 {
	color: #da291c;
}

p, td {
	color: #333333;
}

.project-tagline{
	color: #666666;
}
